:root {
    --font-size: 14px;
    --grey-blue: hsl(246, 25%, 77%);
    --dark-blue: hsl(249, 10%, 26%);
    --blue: hsl(248, 32%, 49%);
    --green: hsl(154, 59%, 51%);
    --red: hsl(0, 100%, 74%);
    --red-shadow: rgb(172, 82, 82);
}