.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 25px;
    width: 90%;

    &__text {
        text-align: center;

        .main-text {
            line-height: 1.8;
        }


    }

    @media screen and (min-width: 500px) {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        gap: 10%;

        width: min(100%, 1000px);

        &__text {

            .title {
                font-size: 2.5rem;
            }

            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}